@import './normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Noto Sans', sans-serif;
  background-color: var(--background-color);
}

:root {
  --background-color: #DADADA;
  --main-color: #F4F3F5;
  --nav-color: #9F787C;
  --danger-color: #F55A4E;
  --success-color: #74A96C;
  --icons-color: #A9AFB;
  --info-color: #2D2879;
}

@media (min-width: 640px) {
  .main-view {
    margin-left: 276px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}